@model URU.ViewModels.ContactViewModel

@using URU.Models;
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer StringLocalizer

<h1>@StringLocalizer["Contact_ContactMe"]</h1>

<h3 class="success">@TempData["Success"]</h3>
<h3 class="error">@TempData["Error"]</h3>

<div class="container">
    <form asp-controller="Home" class="form" asp-action="Contact" method="post">
        <fieldset class="form-fieldset ui-input __first">
            <input type="text" asp-for="Name" id="name" tabindex="0" oninput="alteredValue()" />
            <label for="name">
                <span data-text="@StringLocalizer["Contact_Name"]">@StringLocalizer["Contact_Name"]</span>
            </label>
        </fieldset>

        <fieldset class="form-fieldset ui-input __second">
            <input asp-for="Email" type="email" id="email" oninput="alteredValue()" />
            <label for="email">
                <span data-text="@StringLocalizer["Contact_Email"]">@StringLocalizer["Contact_Email"]</span>
            </label>
        </fieldset>

        <fieldset class="form-fieldset ui-input __third">
            <input asp-for="Phone" type="tel" id="phone-number" oninput="alteredValue()" />
            <label for="phone-number">
                <span data-text="@StringLocalizer["Contact_PhoneNumber"]">@StringLocalizer["Contact_PhoneNumber"]</span>
            </label>
        </fieldset>

        <fieldset class="form-fieldset ui-input __fourth">
            <input asp-for="Subject" type="text" id="subject" oninput="alteredValue()" />
            <label for="subject">
                <span data-text="@StringLocalizer["Contact_Subject"]">@StringLocalizer["Contact_Subject"]</span>
            </label>
        </fieldset>

        <fieldset class="form-fieldset ui-input __fifth">
            <textarea asp-for="Message" rows="5" id="message" oninput="alteredValue()"></textarea>
            <label for="message">
                <span data-text="@StringLocalizer["Contact_Message"]">@StringLocalizer["Contact_Message"]</span>
            </label>
        </fieldset>

        <div class="form-footer">
            <button class="btn" id="submit">@StringLocalizer["Contact_Send"]</button>
        </div>
    </form>
</div>

@* Eliminate render-blocking CSS and JavaScript in above-the-fold content *@

@section Scripts {
    <environment include="Development">
        <script async src="~/scripts/contact.js" asp-append-version="true"></script>
    </environment>

    <environment exclude="Development">
        <script async src="~/bundle/scripts/contact.min.js" asp-append-version="true"></script>
    </environment>
}

<environment include="Development">
    <link async rel="stylesheet" type="text/css" href="~/css/contact.css" asp-append-version="true">
</environment>

<environment exclude="Development">
    <link async rel="stylesheet" type="text/css" href="~/bundle/css/contact.min.css" asp-append-version="true">
</environment>