@model URU.ViewModels.HomeViewModel

<div id="wrapper">
    <div id="main">
        <div class="content">
            <h1>Adrian Reithaug</h1>
            <div id="social">
                <a href="@Url.Action("SetLanguage", "Home" , new { returnUrl=Context?.Request?.Path })" title="@StringLocalizer["Language"]"><i class="fas fa-globe-americas"></i></a>
                <a href="https://github.com/Adrrei" title="GitHub"><i class="fab fa-github"></i></a>
                <a href="https://www.linkedin.com/in/adrrei/" title="LinkedIn"><i class="fab fa-linkedin"></i></a>
                <a href="#" id="info" title="@StringLocalizer["Email"]"><i class="fas fa-envelope"></i></a>
            </div>

            <div id="bio">
                <p>@StringLocalizer["FullStackDeveloper"]</p>
                <p>@StringLocalizer["Location"]</p>
            </div>

            <div id="buttons">
                <span id="toggle-about" class="button">@StringLocalizer["About"]</span>
                <span id="toggle-projects" class="button">@StringLocalizer["Projects"]</span>
            </div>
        </div>
    </div>

    <div id="about" class="right-sidebar hidden">
        <div class="content">
            <h1>@StringLocalizer["AboutMe"]</h1>
            <p>@StringLocalizer["IamADeveloper"]</p>
            <p>@StringLocalizer["MastersDegree2018"]</p>
            <p>@StringLocalizer["WhatIsURU"]</p>
            <p>@StringLocalizer["SourceCode"]</p>
            <p>@StringLocalizer["YouCanReachMeHere"]</p>

            <h2>@StringLocalizer["Knowledge"]</h2>

            <p>@StringLocalizer["MyCoreKnowledge"]</p>
            <p>@StringLocalizer["AlsoExperiencedWith"]</p>
            <p>@StringLocalizer["ApplicationsWithSignalR"]</p>

            <p>@StringLocalizer["DatabaseCodeFirst"]</p>
            <p>@StringLocalizer["SingleSignOn"]</p>
            <p>@StringLocalizer["RestWebApisAndSwagger"]</p>

            <h2>@StringLocalizer["FurtherBack"]</h2>
            <p>@StringLocalizer["OtherTechnologies"]</p>
        </div>
    </div>
    <div id="projects" class="right-sidebar hidden">
        <div class="content">
            <h1>@StringLocalizer["Projects"]</h1>
            <div class="card">
                <a asp-controller="Home" asp-action="Masters">
                    <div class="card-object">
                        <div id="masters" class="card-object-image" alt="@StringLocalizer["Salmon"]"></div>
                    </div>
                    <div class="card-body">
                        <span class="body-header">@StringLocalizer["MastersThesis"]</span>
                        <span class="body-title">@StringLocalizer["DeepLearningTitle"]</span>
                        <span class="body-bottom">@StringLocalizer["DeepLearningDescription"]</span>
                    </div>
                </a>
            </div>

            <div class="card">
                <a asp-controller="Spotify" asp-action="Index">
                    <div class="card-object">
                        <div id="spotify" class="card-object-image" alt="@StringLocalizer["Headphones"]"></div>
                    </div>
                    <div class="card-body">
                        <span class="body-header">REST Web API</span>
                        <span class="body-title">@StringLocalizer["SpotifyTitle"]</span>
                        <span class="body-bottom">@StringLocalizer["SpotifyDescription"]</span>
                    </div>
                </a>
            </div>

            <div class="card">
                <a asp-controller="Home" asp-action="TicTacToe">
                    <div class="card-object">
                        <div id="tic-tac-toe" class="card-object-image" alt="@StringLocalizer["TicTacToe"]"></div>
                    </div>
                    <div class="card-body">
                        <span class="body-header">ASP.NET Core SignalR</span>
                        <span class="body-title">@StringLocalizer["TicTacToe"]</span>
                        <span class="body-bottom">@StringLocalizer["TicTacToeDescription"]</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

@section Styles  {
    <link rel="preload" href="~/content/images/Landing.jpg" as="image">
    <link rel="preload" href="~/content/images/Music.jpg" as="image">
    <link rel="preload" href="~/content/images/Salmon.jpg" as="image">
    <link rel="preload" href="~/content/images/TicTacToe.jpg" as="image">

    <environment include="Development">
        <link async rel="stylesheet" type="text/css" href="~/css/home.css" asp-append-version="true">
    </environment>

    <environment exclude="Development">
        <link async rel="stylesheet" type="text/css" href="~/bundle/css/home.min.css" asp-append-version="true">
    </environment>
}

@section Scripts {
    <environment include="Development">
        <script src="~/js/home.js" asp-append-version="true"></script>
    </environment>

    <environment exclude="Development">
        <script src="~/bundle/js/home.min.js" asp-append-version="true"></script>
    </environment>
}