@model URU.ViewModels.GameViewModel

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer StringLocalizer


<div class="container">
    <h1>@StringLocalizer["TicTacToe_Title"]</h1>

    <div id="name-container">
        <p>@StringLocalizer["TicTacToe_Welcome"]</p>
        <input type="text" id="playerId" autofocus />
        <br />
        <p id="nameError" class="invisible">@StringLocalizer["TicTacToe_NameRequirement"]</p>

        <button class="btn" id="ready-button">@StringLocalizer["TicTacToe_Ready"]</button>
    </div>

    <div id="play-container">
        <p>@StringLocalizer["TicTacToe_Greetings"], <span id="player"></span>! @StringLocalizer["TicTacToe_RoomName"]<span id="gameRoom"></span></p>

        <input type="text" id="gameId" autofocus />

        <div id="win-screen" class="invisible"></div>

        <div id="gameBoard"></div>

        <h2>
            @StringLocalizer["TicTacToe_Players"]
        </h2>

        <p id="gamePlayers"></p>

        <h2>
            @StringLocalizer["TicTacToe_Spectators"]
        </h2>

        <p id="gameSpectators"></p>

        <hr />

        <p class="muted">
            @StringLocalizer["TicTacToe_PlayAlone"]
        </p>
    </div>
</div>

@* Eliminate render-blocking CSS in above-the-fold content *@
@section Scripts {
    <script src="~/bundle/scripts/signalr.min.js" asp-append-version="true"></script>

    <environment include="Development">
        <script src="~/scripts/gameHub.js" asp-append-version="true"></script>
        <script async src="~/scripts/tictactoe.js" asp-append-version="true"></script>
    </environment>

    <environment exclude="Development">
        <script src="~/bundle/scripts/game.min.js" asp-append-version="true"></script>
    </environment>
}

<environment include="Development">
    <link async rel="stylesheet" type="text/css" href="~/css/game.css" asp-append-version="true">
</environment>

<environment exclude="Development">
    <link async rel="stylesheet" type="text/css" href="~/bundle/css/game.min.css" asp-append-version="true">
</environment>
