@model URU.ViewModels.SpotifyViewModel

<div class="banner">
    <div class="content">
        <div class="row">
            <div class="column header">
                <a id="title" href="@Model.ExquisiteEdm.Uri">@Model.ExquisiteEdm.Name</a>
                <span id="description">@StringLocalizer["Description"]</span>
                <div id="details">
                    <span>@StringLocalizer["Hours"]</span>
                    <span id="hours" class="loading"> </span>
                    <span>@StringLocalizer["Songs"]</span>
                    <span id="songs">@Model.ExquisiteEdm.Total</span>
                </div>
                <div id="toggle">
                    <input id="toggle-genres" type="radio" name="tabs" checked />
                    <label for="toggle-genres">> @StringLocalizer["Genres"]</label>
                    <input id="toggle-artists" type="radio" name="tabs" />
                    <label for="toggle-artists">> @StringLocalizer["Artists"]</label>
                </div>
            </div>
            <div class="column scrollable">
                <table id="genres">
                    <thead>
                        <tr>
                            <td>@StringLocalizer["Genres"]</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>

                <table id="artists" class="hidden">
                    <thead>
                        <tr>
                            <td>@StringLocalizer["TopArtists"]</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
        <div id="get-favorites" class="row">
            <div class="column">
                <p id="reset-favorites">> @StringLocalizer["FetchOtherFavorites"]</p>
            </div>
        </div>
        <div id="favorites" class="row">
            <div class="column">
            </div>
            <div class="column">
            </div>
            <div class="column">
            </div>
            <div class="column">
            </div>
        </div>
    </div>
</div>

@section Styles  {
    <environment include="Development">
        <link rel="stylesheet" type="text/css" href="~/css/spotify.css" asp-append-version="true">
    </environment>

    <environment exclude="Development">
        <link rel="stylesheet" type="text/css" href="~/bundle/css/spotify.min.css" asp-append-version="true">
    </environment>
}
@section Scripts {
    <environment include="Development">
        <script async src="~/js/spotify-ie.js" asp-append-version="true"></script>
        <script src="~/js/spotify.js" asp-append-version="true"></script>
    </environment>

    <environment exclude="Development">
        <script async src="~/bundle/js/spotify-ie.min.js" asp-append-version="true"></script>
        <script src="~/bundle/js/spotify.min.js" asp-append-version="true"></script>
    </environment>
}