@model URU.ViewModels.GameViewModel

<div class="container">
    <h1>@StringLocalizer["Title"]</h1>

    <div id="name-container">
        <p>@StringLocalizer["Welcome"]</p>
        <input type="text" id="player-id" placeholder="@StringLocalizer["PlaceholderPlayer"]" autofocus />
        <br />
        <p id="name-error" class="invisible">@StringLocalizer["NameRequirement"]</p>

        <button class="btn" id="ready-button">@StringLocalizer["Play"]</button>
    </div>

    <div id="play-container" class="invisible">
        <p>@StringLocalizer["PlayerName"] <span id="player"></span>@StringLocalizer["RoomName"]<span id="room"></span></p>

        <input type="text" id="game-id" placeholder="@StringLocalizer["PlaceholderRoom"]" />

        <div id="results" class="invisible"></div>

        <div id="board"></div>

        <h2 class="information invisible">
            @StringLocalizer["Players"]
        </h2>

        <p id="players"></p>

        <h2 class="information invisible">
            @StringLocalizer["Spectators"]
        </h2>

        <p id="spectators"></p>

        <hr />

        <p>@StringLocalizer["PlayAlone"]</p>
    </div>
</div>

@section Styles  {
<environment include="Development">
    <link rel="stylesheet" type="text/css" href="~/css/tictactoe.css" asp-append-version="true">
</environment>

<environment exclude="Development">
    <link rel="stylesheet" type="text/css" href="~/bundle/css/tictactoe.min.css" asp-append-version="true">
</environment>
}

@section Scripts {
<script src="~/lib/signalr/dist/browser/signalr.min.js" asp-append-version="true"></script>

<environment include="Development">
    <script src="~/js/tictactoe-hub.js" asp-append-version="true"></script>
    <script src="~/js/tictactoe.js" asp-append-version="true"></script>
</environment>

<environment exclude="Development">
    <script src="~/bundle/js/tictactoe.min.js" asp-append-version="true"></script>
</environment>
}