@using Microsoft.AspNetCore.Mvc.Localization

<!DOCTYPE html>

<html lang="en-us">

<head>
    <environment include="Development">
        <link rel="stylesheet" type="text/css" href="~/css/fontawesome.css" asp-append-version="true">
        <link rel="stylesheet" type="text/css" href="~/css/fonts.css" asp-append-version="true">
        <link rel="stylesheet" type="text/css" href="~/css/layout.css" asp-append-version="true">
    </environment>

    <environment exclude="Development">
        <link rel="stylesheet" type="text/css" href="~/bundle/css/layout.min.css" asp-append-version="true">
    </environment>

    @RenderSection("Styles", required: false)

    <meta title="URU" http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="author" content="Adrian Reithaug">
    <meta name="description" content="URU - A creative space.">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="application-name" content="URU" />
    <link rel="icon" type="image/png" sizes="16x16" href="~/content/favicon/favicon-16x16.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="~/content/favicon/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="96x96" href="~/content/favicon/favicon-96x96.png" />
    <link rel="icon" type="image/png" sizes="128x128" href="~/content/favicon/favicon-128x128.png" />
    <link rel="icon" type="image/png" sizes="196x196" href="~/content/favicon/favicon-196x196.png" />
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="~/content/favicon/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="~/content/favicon/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/content/favicon/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="~/content/favicon/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/content/favicon/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="~/content/favicon/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/content/favicon/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="~/content/favicon/apple-touch-icon-152x152.png" />
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="~/content/favicon/mstile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="~/content/favicon/mstile-70x70.png" />
    <meta name="msapplication-square150x150logo" content="~/content/favicon/mstile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="~/content/favicon/mstile-310x150.png" />
    <meta name="msapplication-square310x310logo" content="~/content/favicon/mstile-310x310.png" />

    <title>@ViewBag.Title</title>
</head>
<body>
    <nav>
        <ul>
            <li><a class="logo" asp-controller="Home" asp-action="Index">URU</a></li>
            <li><a href="@Url.Action("SetLanguage", "Home", new { returnUrl = Context?.Request?.Path })"><i class="fas fa-cog"></i> @StringLocalizer["SelectedLanguage"]</a></li>
        </ul>
    </nav>
    <main>
        @RenderBody()
    </main>

    <footer>
        <h1><a class="footer-logo" asp-action="Index" asp-controller="Home">URU</a></h1>
    </footer>

    @RenderSection("Scripts", required: false)
</body>
</html>