@model URU.ViewModels.SpotifyViewModel

<div class="content">
    <div class="row">
        <div class="column header">
            <span><a id="title" href="spotify:user:@Model.User.UserId:playlist:@Model.User.PlaylistId">Exquisite EDM</a></span>
            <span id="description">@StringLocalizer["Description"]</span>
            <div id="details">
                <span>@StringLocalizer["Hours"]</span>
                <span id="hours" class="loading"> </span>
                <span>@StringLocalizer["Songs"]</span>
                <span id="songs" class="loading"></span>
            </div>
            <div id="toggle">
                <label for="toggle-genres"><span id="toggle-genres" class="checked"><i class="fas fa-chevron-right"></i> @StringLocalizer["Genres"]</span></label>
                <label for="toggle-artists"><span id="toggle-artists"><i class="fas fa-chevron-right"></i> @StringLocalizer["Artists"]</span></label>
                <label for="toggle-tracks-by-year"><span id="toggle-tracks-by-year"><i class="fas fa-chevron-right"></i> @StringLocalizer["TracksByYear"]</span></label>
            </div>
        </div>
        <div class="column scrollable">
            <table id="genres">
                <thead>
                    <tr>
                        <td>@StringLocalizer["Genres"]</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>

            <table id="artists" class="hidden">
                <thead>
                    <tr>
                        <td>@StringLocalizer["TopArtists"]</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>

            <table id="tracks-by-year" class="hidden">
                <thead>
                    <tr>
                        <td>@StringLocalizer["TracksByYear"]</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    <div id="get-favorites" class="row">
        <div class="column">
            <p><span id="reset-favorites"><i class="fas fa-chevron-right"></i> @StringLocalizer["FetchOtherFavorites"]</span></p>
        </div>
    </div>
    <div id="favorites" class="row">
        <div class="column">
        </div>
        <div class="column">
        </div>
        <div class="column">
        </div>
        <div class="column">
        </div>
    </div>
</div>

@section Styles  {
    <environment include="Development">
        <link rel="stylesheet" type="text/css" href="~/css/spotify.css" asp-append-version="true">
    </environment>

    <environment exclude="Development">
        <link rel="stylesheet" type="text/css" href="~/bundle/css/spotify.min.css" asp-append-version="true">
    </environment>
}

@section Scripts {
    <environment include="Development">
        <script src="~/js/spotify-ie.js" asp-append-version="true"></script>
        <script src="~/js/spotify.js" asp-append-version="true"></script>
    </environment>

    <environment exclude="Development">
        <script src="~/bundle/js/spotify-ie.min.js" asp-append-version="true"></script>
        <script src="~/bundle/js/spotify.min.js" asp-append-version="true"></script>
    </environment>
}